In [162]:
import sys
import warnings
warnings.filterwarnings('ignore')
from tqdm import tqdm
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error
import statsmodels.formula.api as smf
import statsmodels.tsa.api as smt
import statsmodels.api as sm
import scipy.stats as scs
from scipy.optimize import minimize

import matplotlib.pyplot as plt
import datetime
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [163]:
df = pd.read_csv('C:/Users/HP/Downloads/CL_megafon_Cup IT_2020_final_data.csv', sep=';')

In [164]:
df['time_start'] = pd.to_datetime(df['time_start'])

In [165]:
df['time_end'] = pd.to_datetime(df['time_end'])

In [166]:
duration = df['time_end']-df['time_start']

In [167]:
hours = duration.dt.seconds/3600

In [168]:
df['duration']= duration

In [169]:
df['hours']= hours

In [170]:
df

,time_start,time_end,place_latitude,place_longitude,duration,hours
0,2019-08-24 14:23:56,2019-08-24 18:54:47,28.102908,113.617867,04:30:51,4.514167
1,2018-06-19 08:56:22,2018-06-19 12:15:26,28.102908,113.617867,03:19:04,3.317778
2,2018-08-29 14:00:32,2018-08-29 14:37:51,28.102908,113.617867,00:37:19,0.621944
3,2019-12-10 16:01:26,2019-12-10 16:35:22,28.102908,113.617867,00:33:56,0.565556
4,2019-12-10 13:39:42,2019-12-10 17:58:22,28.999495,115.167583,04:18:40,4.311111
...,...,...,...,...,...,...
78218,2018-06-25 11:25:04,2018-06-25 14:39:32,28.945221,114.357402,03:14:28,3.241111
78219,2018-04-06 10:07:13,2018-04-06 16:34:40,28.619318,114.397573,06:27:27,6.457500
78220,2018-07-13 22:59:34,2018-07-14 00:05:50,28.619318,114.397573,01:06:16,1.104444
78221,2018-11-06 00:05:57,2018-11-06 08:50:10,28.619318,114.397573,08:44:13,8.736944
78222,2018-10-15 02:24:15,2018-10-15 18:03:48,28.619318,114.397573,15:39:33,15.659167