In [201]:
import sys
import warnings
warnings.filterwarnings('ignore')
from tqdm import tqdm
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error
import statsmodels.formula.api as smf
import statsmodels.tsa.api as smt
import statsmodels.api as sm
import scipy.stats as scs
from scipy.optimize import minimize

import matplotlib.pyplot as plt
import datetime
%pylab inline
from sklearn.cluster import DBSCAN
from geopy.distance import great_circle
from shapely.geometry import MultiPoint

Populating the interactive namespace from numpy and matplotlib

In [328]:
df = pd.read_csv('C:/Users/HP/Downloads/CL_megafon_Cup IT_2020_final_data.csv', sep=';')

In [239]:

coords = df.as_matrix(columns=['place_latitude', 'place_longitude'])

In [296]:
kms_per_radian = 6371.0088
epsilon = 5 / kms_per_radian

In [297]:

start_time = time.time()
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

Number of clusters: 922

In [346]:
message = 'Clustered {:,} points down to {:,} clusters, for {:.1f}% compression in {:,.2f} seconds'
print(message.format(len(df), num_clusters, 100*(1 - float(num_clusters) / len(df)), time.time()-start_time))

Clustered 78,223 points down to 922 clusters, for 98.8% compression in 996.56 seconds

In [316]:
def get_centermost_point(cluster):
    centroid = (MultiPoint(cluster).centroid.x, MultiPoint(cluster).centroid.y)
    centermost_point = min(cluster, key=lambda point: great_circle(point, centroid).m)
    return tuple(centermost_point)
centermost_points = clusters.map(get_centermost_point)

In [317]:
place_latitude, place_longitude = zip(*centermost_points)
rep_points = pd.DataFrame({'place_latitude':place_latitude, 'place_longitude':place_longitude})

In [318]:
rs = rep_points.apply(lambda row: df[(df['place_latitude']==row['place_latitude']) & (df['place_longitude']==row['place_longitude'])].iloc[0], axis=1)

In [319]:
rs

              time_start             time_end  place_latitude  place_longitude
0    2019-12-27 15:23:27  2019-12-27 16:43:00       28.737292       114.539922
1    2019-06-30 08:19:06  2019-06-30 09:12:08       29.098739       112.729739
2    2018-09-03 12:03:56  2018-09-03 12:38:00       28.912506       112.914016
3    2018-06-14 15:53:51  2018-06-14 16:33:52       28.892500       113.032222
4    2019-08-06 17:58:27  2019-08-06 18:40:17       28.494333       113.040972
..                   ...                  ...             ...              ...
917  2018-11-14 14:48:53  2018-11-14 15:34:28       29.111777       115.618655
918  2019-08-12 09:36:38  2019-08-12 13:01:10       29.002219       113.609172
919  2018-10-26 16:12:42  2018-10-26 17:22:52       28.254167       115.270278
920  2018-12-31 11:54:13  2018-12-31 21:11:13       29.825980       115.072900
921  2019-01-07 13:15:07  2019-01-07 15:00:57       30.171030       115.814560

[922 rows x 4 columns]

In [320]:
rs['time_start'] = pd.to_datetime(rs['time_start'])
rs['time_end'] = pd.to_datetime(rs['time_end'])

In [321]:
duration = rs['time_end']-rs['time_start']

In [322]:
hours = duration.dt.seconds/3600

In [323]:
rs['duration']= duration

In [324]:
rs['hours']= hours

In [339]:
rs.duration.sort_values()

801    0 days 00:14:30
132    0 days 00:17:36
899    0 days 00:19:29
817    0 days 00:20:53
831    0 days 00:23:24
            ...
315    3 days 22:54:53
160    4 days 10:37:06
217    4 days 17:36:46
42    12 days 18:12:22
391   25 days 12:14:45
Name: duration, Length: 922, dtype: timedelta64[ns]

In [343]:
import folium

lat = rs['place_latitude']
lon = rs['place_longitude']

In [344]:
map = folium.Map(location=[28.102908,113.617867 ], zoom_start = 5)

for lat, lon in zip(lat, lon):
    folium.Marker(location=[lat, lon], icon=folium.Icon(color = 'gray')).add_to(map)

In [345]:
map.save("map5.html")